/Lab4/Plot_asc.sta.png
/Lab4/Plot_cycl.hor.png
/Lab4/Plot_cycl.ver.png
/Lab4/Plot_desc.sta.png
/Lab4/Plot_exer.step.png
/Lab4/Plot_exer.train.png
/Lab4/Plot_jumping.png
/Lab4/Plot_lying.ba.png
/Lab4/Plot_lying.ri.png
/Lab4/Plot_mov.elev.png
/Lab4/Plot_play.bb.png
/Lab4/Plot_rowing.png
/Lab4/Plot_run.8.png
/Lab4/Plot_sitting.png
/Lab4/Plot_stand.elev.png
/Lab4/Plot_standing.png
/Lab4/Plot_walk.4.15.png
/Lab4/Plot_walk.4.fl.png
/Lab4/Plot_walk.park.png
/Lab1/corr_coeff.png
/Lab1/LLS-Error-hist.png
/Lab1/LLS-w_hat.png
/Lab1/LLS-yhat_vs_y.png
/Lab1/SD-Error-hist.png
/Lab1/SD-w_hat.png
/Lab1/SD-yhat_vs_y.png
/Lab2/corr_coeff.png
/Lab5/fig_training.png
